<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Image Board</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>