<div class="options">

    <ul>
        <li>
            [<a href="/">Home</a>]
        </li>
        <li>
            [<a href="#bottom">Bottom</a>]
        </li>
        <li>
            Sort by: <select id="sortByDropdown">
                <option value="mostRecent">Recent activity</option>
                <option value="mostRecent">Most replies</option>
                <option value="mostRecent">Newest</option>
                <option value="mostRecent">Oldest</option>
            </select>
        </li>
    </ul>

</div>
<hr>