<div id="top" class="options">

    <ul>
        <li>
            [<a href="/">Home</a>]
        </li>
    </ul>

    <ul class="right-justify">
        <%if (activeUser) {%>
        <li>
            Hello <a href="/user-portal"><span class="greeting-username"><%=activeUser.username%></span></a>&nbsp;
        </li>
        <%}%>
        <%if (!activeUser) {%>
        <li>
            [<a href="/login">Login</a>]
        </li>
        <%}else{%>
        <li>
            &nbsp;
            [<a href="/logout">Logout</a>]
        </li>
        <%}%>
        <%if (!activeUser) {%>
        <li>
            &nbsp;
            [<a href="/register">Register</a>]
        </li>
        <%}%>
    </ul>

</div>
<br>