<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <div class="wrapper-main">
        <%- include("./partials/top-nav") %>

        <div class="banner">

            <h2>
                SORRY! The page or file you are looking for cannot be found..
            </h2>

            <img src="/images/chao-confusion.jpg">

        </div>

    </div>

</body>




