<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <div class="wrapper-main">
        <%- include("./partials/top-nav") %>

        <div class="banner">

            <h2>Register a new account!</h2>
            <h3>Choose a unique username and password</h3>

        </div>
        <hr>

        <!-- form for user registration vvv -->
        <br>
        <br>

        <div class="flex-centered">
            <form action="/api/users/registerNewUser" method="post">
                <div class="form-group">
                    <label for="username">New Username</label>
                    <input type="text" id="username" name="username" placeholder="" value="">
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Unique Password</label>
                    <input type="text" id="password" name="password" placeholder="" value="">
                </div>
                <br>
                <input type="submit" value="Register">
            </form>
        </div>

    </div>
</body>