:root {

    /* VARIABLES */
    --thread-post-width: 150px;
    --thread-post-height: 250px;
}

body {
    font-family: arial,helvetica,sans-serif;
    padding: 3px;
    background-color: #e3e7f8;

}

.wrapper-main {
    margin: 0 auto;
}


.banner {
    text-align: center;
}
.banner img {
    max-width: 40%;
}
.banner h2 {
    font-size: 75%;
}

/* the new thread form doesn't display until you click the link "create a new thread */
#new-thread-form {
    display: none;
}
#new-reply-form {
    display: none;
}

/* vvv ensures that all labels are aligned and same width */
.form-group label {
    display: inline-block;
    width: 75px; /* Adjust the width as needed */
    text-align: left;
    margin-right: 10px;
}
.form-group textarea {
    width: 200px;
}
#img-url-bar {
    width: 200px;
}
#urlSubmission {
    display: none;
}
#imgCheckbox {
    font-size: 10px;
}

/* navigation buttons like top, bottom, sort */
.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* display: inline-block; */
}
.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 50%; */
}
.options li {
    margin: 0;
    padding: 0;
    display: inline;
}

.right-justify{
    float: right;
}

.options a {
    color: blue;
    text-decoration: none;
    font-size: 90%;
}
.options a:visited {
    color: blue;
}

.options a:hover {
    color: red;
}

.greeting-username {
    font-size: 16px;
    color: rgb(0, 150, 0);
    margin-bottom: -0.2em;
    text-decoration: underline;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
/* thread-posts are the container for the teaser, 
they link to a thread from catalog vvv */
.thread-post {

    width: var(--thread-post-width);
    margin: 10px;
    text-align: center;

    max-height: var(--thread-post-height);

    overflow: hidden;
}
/* thumbnail vvv */
.thread-post img {
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    max-width: var(--thread-post-width);
    max-height: 150px;
    /* max-height: calc(var(--thread-post-height) / 1.5); */
}
.thread-information span{
    margin: 0;
    font-size: 8pt;
}
/* vvv the text displayed in an individual thread-post in catalog */
.teaser {
    font-size: 10pt;
    /* max-height: var(--thread-post-height); */
    word-wrap: break-word;
}
/*  0)_(0  **licks you** */
/* POSTS in THREADS! */
.thread {
    /* thread flex is disabled in media query for desktop */
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
/* THREAD ^^ ^^ */
.reply-arrows {
    color: #9a9da8;
    margin-right: 2px;
    margin-left: 2px;
    padding-top: 6px;
}

.post-container {
    display: flex;
    flex-direction: row;
    /* min-width: 200px; */
}


/* vvv posts that aren't the OP (first post) */
.post-reply {
    background-color: #d6daf0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
    border-bottom: 1px solid #b7c5d9;
}
/* vvv posts that ARE the original post! */
/* .post-container-OP { */
    /* min-width: 100px; */
/* } */
.post-OP {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px;
}
.post-thumbnail-OP {
    float: left;
    max-width: 200px;
    max-height: 200px;
    margin-right: 15px;
    margin-bottom: 5px;
}

/* for referenced posts vv */
.popup {
    position: absolute;
    /* position: relative; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border: 1px solid #b7c5d9;
    /* min-height: 125px;
    min-width: 125px; */
    box-sizing: border-box;
}
.highlighted {
    background-color: #d6bad0;
}
.perma-highlighted {
    background-color: #d6bad0;
}

.post-img-header {
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 10pt;
}
.post-user-information {
    padding-bottom: 2px;
    font-size: 10pt;
}
.username {
    color: #2c845a;
    font-weight: 700;
}
/* vv when a user references this post, add link to this span */
.replies {
    font-size: 8pt;
}
.replies a {
    color: #34345c;
}
.replies a:visited {
    color: #34345c;
}
.replies a:hover {
    color: red;
}
.post-thumbnail {
    max-width: 125px;
    max-height: 125px;
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
}
.post-message {
    font-size: 10pt;
}

.reply-link:hover {
    color: red;
}

.literally-the-word-replies {
    display: none;
}

/* QUICK REPLY feature-- creates a popup when user selected rply */
.button-reply {
    color: #0066cc;
}
.button-reply:visited {
    color: #0066cc;
}
.button-reply:hover {
    color: red;
}

#quick-reply-div {
    display: flex;
    flex-direction: column;

    background-color: #d6daf0;
}
.quick-reply-form {
    display: flex;
    flex-direction: column;
}

/* USER PAGE */
.thread-information {
    font-size: 14px;
}

.user-portal-post-container {
    display: flex;
    flex-direction: row;
    flex-basis: 35%;
}

/* ADMIN PORTAL STYLES! */
.body-admin {
    color: white;
    background-color: black;
}

/* ADMIN embedded functionality styles */

.admin-command-list a:hover{
    color: purple !important;
}
.admin-command-list a:visited{
    color: inherit;
}
.edit {
    color: blue !important;
}
.unlist {
    color: rgb(187, 121, 0) !important;
}
.delete {
    color: red !important;
}
.ban {
    color: rgb(119, 0, 0) !important;
}
#command-execution-pin {
    height: 13px;
    font-size: 10px;
    width: 30px;
}



/* pure utility classes vvv */

.big-top-buffer {
    margin-top: 100px;
}

.preserve-whitespace {
    white-space: pre-line;
}

.flex-centered {
    display: flex; 
    justify-content: center;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.flex-space-around h4{
    text-align: center;
}

.flex-basis-45 {
    flex-basis: 45%;
}

.warning-text {
    color: rgb(190, 0, 0);
}

/* DESKTOP style, screens > 800 pixels ;) */
@media (min-width: 800px) {
    .banner h2 {
        font-size: 1.5em;
    }

    .form-group textarea {
        width: 500px;
    }

    .thread {
        display: block;
    }

    .post-thumbnail-OP {
        max-width: 250px;
        max-height: 250px;
    }

    .post-container {
    
        max-width: 75%;
    }

    /*User Page*/
    .flex-space-around {
        flex-direction: row;
    }
}