:root {

    /* VARIABLES */
    --thread-post-width: 150px;
    --thread-post-height: 300px;
}

body {
    font-family: arial,helvetica,sans-serif;
    padding: 3px;
    background-color: #e3e7f8;

}

.wrapper-main {
    margin: 0 auto;
}


.banner {
    text-align: center;
}
.banner img {
    max-width: 40%;
}
.banner h2 {
    font-size: 75%;
}

/* vvv ensures that all labels are aligned and same width */
.form-group label {
    display: inline-block;
    width: 75px; /* Adjust the width as needed */
    text-align: left;
    margin-right: 10px;
}
.form-group textarea {
    width: 200px;
}

/* navigation buttons like top, bottom, sort */
.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.options li {
    margin: 0;
    padding: 0;
}
.options a {
    text-decoration: none;
    font-size: 90%
}
.options a:visited {
    color: blue;
}
.options a:hover {
    color: red;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.thread-post {

    width: var(--thread-post-width);
    margin: 10px;
    text-align: center;

    max-height: var(--thread-post-height);

    overflow: hidden;
}
/* thumbnail vvv */
.thread-post img {
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    max-width: var(--thread-post-width);
    /* max-height: calc(var(--thread-post-height) / 1.5); */
}
/* vvv the text displayed in a clickable thread icon on catalog */
.teaser {
    font-size: 10pt;
    /* max-height: var(--thread-post-height); */
    word-wrap: break-word;
}

/* DESKTOP style, screens > 800 pixels ;) */
@media (min-width: 800px) {
    .banner h2 {
        font-size: 1.5em;
    }

    .form-group textarea {
        width: 500px;
    }
}